# Docker compose file for local development
services:
  database-postgresql:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./PostgreSQL/Init.Development.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - services
    
  rabbit-mq:
    image: rabbitmq:4.1.3
    restart: always
    hostname: "localhost"
    networks:
      - services
    ports:
      - '5672:5672'

  gateway:
    image: gateway 
    build:
      context: .
      dockerfile: src/Services/Gateway/Dockerfile
      args:
        CONFIGURATION: Development
    ports:
      - "40000:40000"
    depends_on:
      - database-postgresql
    networks:
      - services

  users-service-api:
    image: users-service-api
    build:
      context: .
      dockerfile: src/Services/Users/Users.API/Dockerfile
      args:
        CONFIGURATION: Development
    depends_on:
      - database-postgresql
      - gateway
    networks:
      - services

  hubs-service-api:
    image: hubs-service-api
    build:
      context: .
      dockerfile: src/Services/Hubs/Hubs.API/Dockerfile
      args:
        CONFIGURATION: Development
    depends_on:
      - database-postgresql
      - gateway
    networks:
      - services

networks:
  services:

volumes:
  postgres: